#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#form {
    width: 40%;
    height: auto;
    border: 2px solid transparent;
    border-radius: 8px;
    /* box-shadow: 1px 1px 1px black; */
    margin: 0 auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#form img {
    width: 128px;
    height: 128px;
    border: 1px solid transparent;
    border-radius: 8px;
}

#showSummoner {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

@media only screen and (max-width: 1500px) {
    #form {
        width: 65%;
    }
}

@media only screen and (max-width: 500px) {
    #form {
        width: 90%;
    }
}

@media only screen and (max-height: 580px) {
    #form {
        height: 99%
    }
}

.downbtn {
    width: 200px;
    margin-bottom: 2%;
}